In [1]:
import pandas as pd
import json
import os
import ast
from pycaret.classification import *
from sklearn.preprocessing import MultiLabelBinarizer

In [2]:
data = pd.read_csv('../data/result.csv')
print(data.iloc[0])

Unnamed: 0                                                       0
title                                               D. Ingenuity-2
TL                                                       2 seconds
ML                                                   256 megabytes
Input            The first line of input contains $$$t$$$ ($$$1...
Output           For each test case, if the required distributi...
Note             Let's consider the first example: the string $...
Statement        Let's imagine the surface of Mars as an infini...
contest                                                       1974
index                                                            D
tags             ['constructive algorithms', 'greedy', 'impleme...
rating                                                         NaN
sample-input     ['\n106NENSNE3WWW6NESSWS2SN2WE4SSNN4WESN2SS4EW...
sample-output    ['\nRRHRRH\nNO\nHRRHRH\nNO\nNO\nRHRH\nRRHH\nRH...
contest-name                         Codeforces Round 946 (Div. 3)
Name: 0, dtype: object

In [3]:
text_columns = ['title', 'Input', 'Output', 'Note', 'Statement']
text_list_columns = ['sample-input', 'sample-output']
data[text_columns] = data[text_columns].fillna('missing')
data[text_list_columns] = data[text_list_columns].fillna('[]')

data['title'] = data['title'].str.extract(r'^[A-Za-z0-9]+\.\s*(.+)')
data['TL'] = data['TL'].str.extract(r'(\d+)').astype(int)
data['ML'] = data['ML'].str.extract(r'(\d+)').astype(int)
data['tags'] = data['tags'].apply(ast.literal_eval)
data['sample-input'] = data['sample-input'].apply(ast.literal_eval).apply(lambda x: " ".join(x))
data['sample-output'] = data['sample-output'].apply(ast.literal_eval).apply(lambda x: " ".join(x))

data.drop(columns='Unnamed: 0', inplace=True)
data.drop(columns='contest-name', inplace=True)

In [4]:
print(data.iloc[0])

title                                                  Ingenuity-2
TL                                                               2
ML                                                             256
Input            The first line of input contains $$$t$$$ ($$$1...
Output           For each test case, if the required distributi...
Note             Let's consider the first example: the string $...
Statement        Let's imagine the surface of Mars as an infini...
contest                                                       1974
index                                                            D
tags             [constructive algorithms, greedy, implementation]
rating                                                         NaN
sample-input     \n106NENSNE3WWW6NESSWS2SN2WE4SSNN4WESN2SS4EWNN...
sample-output    \nRRHRRH\nNO\nHRRHRH\nNO\nNO\nRHRH\nRRHH\nRH\n...
Name: 0, dtype: object

In [5]:
mlb = MultiLabelBinarizer()
tags_binarized = mlb.fit_transform(data['tags'])
tags_df = pd.DataFrame(tags_binarized, columns=mlb.classes_)
data = pd.concat([data, tags_df], axis=1)
data.drop(columns='tags', inplace=True)

In [6]:
print(data.iloc[0])

title                                                              Ingenuity-2
TL                                                                           2
ML                                                                         256
Input                        The first line of input contains $$$t$$$ ($$$1...
Output                       For each test case, if the required distributi...
Note                         Let's consider the first example: the string $...
Statement                    Let's imagine the surface of Mars as an infini...
contest                                                                   1974
index                                                                        D
rating                                                                     NaN
sample-input                 \n106NENSNE3WWW6NESSWS2SN2WE4SSNN4WESN2SS4EWNN...
sample-output                \nRRHRRH\nNO\nHRRHRH\nNO\nNO\nRHRH\nRRHH\nRH\n...
*special                                                                     0
2-sat                                                                        0
binary search                                                                0
bitmasks                                                                     0
brute force                                                                  0
chinese remainder theorem                                                    0
combinatorics                                                                0
constructive algorithms                                                      1
data structures                                                              0
dfs and similar                                                              0
divide and conquer                                                           0
dp                                                                           0
dsu                                                                          0
expression parsing                                                           0
fft                                                                          0
flows                                                                        0
games                                                                        0
geometry                                                                     0
graph matchings                                                              0
graphs                                                                       0
greedy                                                                       1
hashing                                                                      0
implementation                                                               1
interactive                                                                  0
math                                                                         0
matrices                                                                     0
meet-in-the-middle                                                           0
number theory                                                                0
probabilities                                                                0
schedules                                                                    0
shortest paths                                                               0
sortings                                                                     0
string suffix structures                                                     0
strings                                                                      0
ternary search                                                               0
trees                                                                        0
two pointers                                                                 0
Name: 0, dtype: object

In [ ]:
sub_data = data.iloc[:1000]
#for tag in tags_df.columns:
for tag in ['binary search', 'dp', 'math', 'shortest paths']:
    ignored_features = list(tags_df.columns.difference([tag]))
    exp = setup(data=sub_data, 
                target=tag, 
                text_features=text_columns + text_list_columns,
                ignore_features=ignored_features,
                #fix_imbalance=True,
                session_id=123,
                )
    #model = compare_models()
    model = create_model('lightgbm')
    #final_model = finalize_model(model)
    evaluate_model(model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦